<tr>
  <td class="simplecheckout-customer-left" colspan="2">
    <?php if ($tag != '') { ?>
      <<?php echo $tag ?>><?php echo $label ?></<?php echo $tag ?>>
    <?php } else { ?>
      <?php echo $label ?>
    <?php } ?>  
  </td>
</tr>