.box-module-pavreassurances{
	border: 1px solid #e9e9e9;
	overflow: hidden;
	background-color: #f5f5f5;
}

.box-module-pavreassurances .icon-name{
	font-size: 60px;
	color: #2e3a47;
	margin-right: 10px;
	display: inline-block;
}
.box-module-pavreassurances .description {
	overflow: hidden;
	display: inline-block;
}
.box-module-pavreassurances .description h4, .box-module-pavreassurances .description p {
	margin: 0;
}
.box-module-pavreassurances .description > h4 {
    max-height: 35px;
    overflow: hidden;
}
.box-module-pavreassurances .description p {
	color: #8c8c8c;
	text-align: left;
}
.box-module-pavreassurances .column {
	border-right: 1px solid #e9e9e9;
	padding: 35px 0;
	text-align: center;
}

.title_detail .icon-name {
	font-size: 170px;
	color: #2e3a47;
	margin: 0 20px;
}
.title_detail h4 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 800;
}
div.title_detail p {
	color: #8c8c8c; 
	font-size: 15px;
	margin: 25px 0 0;
}
div.info {
	clear: both;
	padding: 30px;
}